<h3 class="font-mono font-semibold text-2xl mb-4 text-gray-50">{{ phase.name }}</h3>
{%- for raid in phase.raids -%}
    <p class="font-mono leading-tight text-justify mt-1">{{ raid }}</p>
{%- endfor -%}