<div class="flex justify-center p-4 mt-4 animate__animated animate__faster animate__fadeInUp">
    {%- if calendar.postedEvents.length > 0 -%}
    <ol class="relative border-l border-lime-100  lg:w-1/3">
        {%- for event in calendar.postedEvents -%}
            {%- include "partials/events/display.njk" -%}
        {%- endfor -%}
    </ol>
    {%- else -%}
        <div class="flex py-4 px-6 mb-4 text-lg text-blue-400 bg-gray-900 rounded-lg" role="alert">
            Aucun raid n'a été trouvé.
        </div>
    {%- endif -%}
</div>
