<div class="gap-6 columns-1 px-6 xl:columns-2 xl:px-0">
    {%- for image in collections.memes -%}
        <img class="w-full my-6 rounded-xl shadow-xl" src="/{{image}}" alt="">
    {%- endfor -%}
</div>